<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zendesk Ticket Viewer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>

<body>
    <section class="section">
        <h1 class="title">Tickets</h1>
        <h2 class="sub-title">There are <strong><%= data.tickets.length %></strong> tickets on this page</h2>

        <!-- Next button -->
        <% if(hasMore) { %> 
            <h2> <a href="/tickets?next=<%= next%>&auth=<%= auth%>&subdomain=<%= subdomain %>" class="btn btn-primary" role="button">Next Page</a> </h2>
        <% } %> 

        <% for(let i in data.tickets) { %>
            <% let ticket = data.tickets[i]; %>
            <div class="box">
                <% switch(ticket.status) {
                    case "new": %>
                    <span class="tag is-primary"><%= ticket.status %></span>
                    <% break; case "open": %>
                    <span class="tag is-link"><%= ticket.status %></span>
                    <% break; case "closed": %>
                    <span class="tag is-dark"><%= ticket.status %></span>
                    <% break;
                } %>
                <strong>Subject: <%= ticket.subject %></strong>
                <div class="panel">
                    <strong><u>Description</u>:</strong>
                    <div class="sub-title">
                        <textarea class="textarea" disabled><%= ticket.description %> </textarea>
                    </div>
                    <p><strong><u>Date</u></strong>: <i><%= ticket.created_at.slice(0,10)%></i> <strong><u>Time</u></strong>:<i><%= "\t" + ticket.created_at.slice(11,19) %></i></p>
                </div>
            </div>
        <% } %>
    </section>
</body>
